# ignore the following files
*.log
*.cut
*.aux
*.gz
*.pdf

# but do track two PDF files, even though you're ignoring .pdf files above
!sfondo.pdf
!sfondo_cmyk.pdf

# ignore all files that end with a tilde
*~