# ignore the following files
*.log
*.cut
*.aux
*.gz
*.pdf

# but do track two PDF files, even though you're ignoring .pdf files above
!example.pdf
!example_cmyk.pdf

# ignore all files that end with a tilde
*~